<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Add Student</title>
</head>
<body style="margin:100px;">
	<h1>Add Student</h1>
	<form th:action="@{/add-student}" method = "post" th:object="${studentDTO}">
		  <label>Name</label>
		  <input type = "text" placeholder = "enter your name" th:field = "*{name}" ><br><br>
		  <p th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}"></p>
		  
		  <label>Age</label>
		  <input type = "number" placeholder = "enter your age" th:field = "*{age}" ><br><br>
		  <p th:if = "${#fields.hasErrors('age')}" th:errors = "*{age}"></p>
		  
		  <label>Email</label>
		  <input type = "email" placeholder = "enter your email" th:field = "*{email}" ><br><br>
		  <p th:if = "${#fields.hasErrors('email')}" th:errors = "*{email}"></p>
		  
		  <label>password</label>
		  <input type = "password" placeholder = "enter your password" th:field = "*{password}"><br><br>
		  <p th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}"></p>
		  
		  <input type = "submit" value = "Add Student">
	 </form>
 </body>
 </html>