<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
</head>
<body>
    <h1>EDIT EMPLOYEE</h1>
    <form th:action="@{/edit-employee(id=${employee.id})}" enctype="multipart/form-data" method="post" th:object="${employeeDTO}">
        
        <label for="name">NAME</label>
        <input type="text" name="name" th:field="*{name}" id="name" placeholder="enter your name"><br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        <label for="age">AGE</label>
        <input type="number" name="age" th:field="*{age}" id="age" placeholder="enter your age"><br>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

        <label for="email">EMAIL</label>
        <input type="text" name="email" th:field="*{email}" id="email" placeholder="enter your email"><br>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="password">PASSWORD</label>
        <input type="password" name="password" th:field="*{password}" id="password" placeholder="enter your password"><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <label for="image">IMAGE</label>
        <img alt="image" width="100px" height="100px" th:src="@{'images/' + ${employee.imagePath}}"><br>
        <input type="file" id="image" th:field="*{image}"><br>
        <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>

        <label for="document">DOCUMENT</label>
        <input type="file" id="document" th:field="*{document}"><br>
        <p th:if="${#fields.hasErrors('document')}" th:errors="*{document}"></p>

        <input type="submit" value="EDIT EMPLOYEE">
    </form>
</body>
</html>
